/* styles for the initial 'skeleton' design, main view. */
/* this will possibly be removed or renamed in the future. */
/* do not style other main components/views here. */

div {
    border: 0.1rem solid #000;
}

.laatikko {
    display: flex;
    padding: 1rem;
    border: 0.1rem solid blue;
}

.maksalaatikko {
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid red;
}
